<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Конструктор Комп</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Ласкаво просимо до Конструктора Компа!</h1>
        <p>Створіть комп'ютер своєї мрії, вибираючи деталі.</p>
        <a href="/step1" class="btn btn-primary">Почати створення заліза</a>
        <a href="/st" class="btn btn-primary">Вже зібрані компи</a>
    </div>
</body>
</html>
